@font-face {
    font-family: Louis;
    src: url(Fonts/louis_george_caf/Louis\ George\ Cafe.ttf);
}

@font-face {
    font-family: Bungee Shade;
    src: url(Fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: Piximisa;
    src: url(Fonts/Piximisa.ttf);
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    font-family: Louis;
    color: rgb(217, 217, 217);
    /* background image*/
    background-image: url(Images/weezer-3.jpg);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    padding: 5vw 3vw 3vw 3vw;
    background-attachment: fixed;
}

.container-1 {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0px 20px 0px 20px;
}

header {
    font-family: Bungee Shade;
    font-size: 5vw;
    color: rgb(217, 217, 217);

}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-self: center;
    gap: 5px;
    margin-bottom: 70px;
}

.nav {
    background-color: rgba(203, 203, 203, 0.8);
    padding: 17px;
    font-size: 1.8vw;
    color: rgb(100, 100, 100);
    border-radius: 10px;
}

.marked {
    box-shadow: 0px 0px 10px 0px white;
    border: 3px solid rgba(227, 227, 227, 0.5);
    color: black;
    font-weight: bold;
}

.nav:hover:not(.marked) {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(227, 227, 227, 0.8);
}

article {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 3px solid rgba(227, 227, 227, 0.4);
    padding: 10px;
}

.h1-spring {
    font-family: Piximisa;
    font-weight: bold;
    font-size: 5vw;
    color: rgba(217, 217, 217, 0.7);
    margin: 0;
}

.h2-spring {
    font-family: Louis;
    font-size: 2.4vw;
    color: rgb(246, 246, 246);
    margin: 0;
}


#summer {
    margin-bottom: 100px;
    margin-top: 20px;
}