@font-face {
    font-family: Barlow;
    src: url(Fonts/Barlow/Barlow-Medium.ttf);
}

@font-face {
    font-family: Bungee Shade;
    src: url(Fonts/Bungee_Shade/BungeeShade-Regular.ttf);
}

@font-face {
    font-family: Piximisa;
    src: url(Fonts/Piximisa.ttf);
}

* {
    margin: 0;
}

body {
    margin: 0;
    padding: 5vw 1vw 3vw 1vw;
    height: 100vh;
    width: 100vw;
    font-family: Barlow;
    font-size: 1.4vw;
    color: rgb(217, 217, 217, 0.8);

    /* background image*/
    background-image: url(Images/weezer-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    background-attachment: fixed;

    --main_font_size: 1.4vw;
}

.container-1 {
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 0px 20px;
}

header {
    font-family: Bungee Shade;
    font-size: calc(3.5 * var(--main_font_size));
    color: rgb(217, 217, 217);
}

/*nav*/

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-self: center;
    gap: 0.7vh;
    margin-bottom: 60px;
    margin-top: 50px;
}

.nav {
    background-color: rgba(203, 203, 203, 0.8);
    padding: 17px;
    font-size: calc(1.4 * var(--main_font_size));
    color: rgb(100, 100, 100);
    border-radius: 10px;
}

.marked {
    box-shadow: 0px 0px 10px 0px white;
    border: 3px solid rgba(227, 227, 227, 0.5);
    color: black;
    font-weight: bold;
}

.nav:hover:not(.marked) {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(227, 227, 227, 0.8);
}

article {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    border: 3px solid rgba(227, 227, 227, 0.4);
    padding: 20px;
}

/*Spring*/

/* positioning */
#spring {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 0.3vh;
}

.album_data {
    grid-row: 1;
    margin-right: 1vh;
    margin-bottom: -20px;
}

/* cover */
.cover,
.song_list {
    grid-column: 2;
}

.cover img {
    width: 100%;
    object-fit: cover;
}

.show_hover,
.cover:hover .show_not_hover {
    display: none;
}

.cover:hover .show_hover {
    display: initial;
}

.show_hover,
.show_not_hover {
    border-radius: 20px 20px 0 0;
}

/* tracks */
.song_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
}

.tracks-box-1 {
    background-color: rgb(66, 111, 30);
    padding: 2vh;
    border-radius: 0 0 0 20px;
    font-size: calc(0.9 * var(--main_font_size));
}

.tracks-box-2 {
    background-color: rgb(66, 111, 30);
    border-radius: 0 0 20px 0;
    padding: 2vh;
    font-size: calc(0.9 * var(--main_font_size));
}

/* anecdotes */
.anecdotes-spring {
    grid-column: 1 / span 2;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    margin-top: 0.8vh;
    margin-bottom: -1vh;
    gap: 0.7vh;
    list-style: none;
    padding: 0;
}

.top_right_90 {
    background-color: rgb(66, 111, 30);
    border-radius: 20px 0 20px 20px;
    padding: 2vh;
    grid-column: 1;
    display: flex;
    align-items: center;
}

.two_wide_bottom_left_90 {
    background-color: rgb(66, 111, 30);
    border-radius: 20px 20px 20px 0;
    padding: 2vh;
    grid-column: 3/4;
    display: flex;
    align-items: center;
}

.top_left_90 {
    border-radius: 0 20px 20px 20px;
    padding: 2vh;
    grid-column: 4/5;
    grid-row: 1;
}

.brian_bell {
    background-image: url(Images/weezer-green.jpg);
    background-size: cover;
    background-position: 70% 50%;
    font-weight: bold;
    text-shadow: 0 0 0.5vh #003402;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.bottom_right_90 {
    background-color: rgb(66, 111, 30);
    border-radius: 20px 20px 0 20px;
    padding: 2vh;
    grid-column: 5/6;
    grid-row: 1;
    display: flex;
    align-items: flex-end;
    align-items: center;
}

/* some styling */
.h1 {
    font-family: Piximisa;
    font-weight: bold;
    font-size: calc(3.5 * var(--main_font_size));
    color: rgba(249, 249, 249, 0.7);
    margin: 0;
}

.h2-spring {
    font-size: calc(1.6 * var(--main_font_size));
    color: rgb(66, 111, 30);
    margin: 0;
    margin-bottom: 40px;
}

.musicians {
    margin-bottom: 30px;
}

li :not(h2>*) {
    list-style: none;
}

.tracks {
    list-style: decimal;
    padding-left: 22px;
}

/* summer */
#summer {
    margin-bottom: 70px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 0.3vh;
}

.h2-summer {
    font-size: calc(1.6 * var(--main_font_size));
    color: rgb(117, 39, 50);
    margin-bottom: 50px;
}

/* tar bort prickarna från listorna med musiker*/
.album_data>div:nth-child(2) li {
    list-style-type: none;

}

.song_list:nth-child(2)>ul li {
    list-style: decimal;
    color: khaki;
}

article>div {
    font-size: var(--main_font_size);
}

.song_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1vh;
}

.tracks-box-3 {
    color: #2f0410;
    background-color: rgb(117, 39, 50);
    padding: 2vh;
    border-radius: 0 0 0 20px;
    font-size: calc(0.9 * var(--main_font_size));
}

.tracks-box-4 {
    color: #2f0410;
    background-color: rgb(117, 39, 50);
    padding: 2vh;
    border-radius: 0 0 20px 0;
    font-size: calc(0.9 * var(--main_font_size));
}

/* anecdotes */
.anecdotes-summer {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr;
    grid-template-rows: 25vh;
    margin-top: 0.8vh;
    margin-bottom: -1vh;
    gap: 0.7vh;
    list-style: none;
    padding: 0;

}

.anecdotes-summer>li {
    display: flex;
    align-items: center;
    color: #2f0410;
    background-color: rgb(117, 39, 50);
}

.box-1 {
    border-radius: 20px 20px 20px 0;
    grid-column: 1;
    grid-row: 1;
    padding: 2vh;
}

.box-2 {
    grid-column: 2/3;
    grid-row: 1;
}

.box-3 {
    background-image: url(images/Pinkerton.jpg);
    background-position: right;
    background-size: cover;
    grid-column: 3;
}

.box-4 {
    border-radius: 20px 20px 0 20px;
    padding: 2vh;
    grid-column: 4/5;
    grid-row: 1;
}

footer {
    padding-bottom: 10px;
    color: rgba(203, 203, 203, 0.8);
}


/* Media Queries */

/* här ska texten sluta bli mindre */
@media (max-width: 900px) {
    body {
        font-size: min(var(--main_font_size));
    }
}

/* tablet */
@media (max-width: 800px) {

    #spring {
        display: grid;
        grid-template-columns: 1.3fr 1fr;
        grid-template-rows: auto;
        gap: 10px;
    }

    .album_data {
        grid-column: 1/3;
        grid-row: 3;
    }

    .cover {
        grid-column: 1;
    }

    .show_not_hover {
        border-radius: 20px 0 0 20px;
    }

    .cover:first-child {
        display: none;
    }

    .show_hover {}

    .show_hover,
    .cover:hover .show_not_hover {
        display: initial;
    }

    .song_list {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .song_list>div:first-child {
        border-radius: 0 20px 0 0;
    }

    .anecdotes-spring {
        grid-column: 1/3;
        grid-row: 4;
        margin-top: 20px;
    }
}


/* phone */
@media (max-width: 500px) {
    body {
        padding: 0;
    }

    .container-1 {
        margin: 0;
        height: 100vh;
        width: 100vw;
        border-radius: 0;
    }

    .nav {
        padding: 13px;
        font-size: calc(1.7 * var(--main_font_size));
    }

    #spring {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }

    header h1 {
        ur text-align: center;
        padding-top: 30px;
        font-size: calc(10 * var(--main_font_size));
    }

    .album_data {
        grid-column: 1/3;
        grid-template-rows: ;
    }
}